{%extends 'index.html'%}

{%load static %}

    {%block content%}
    

<h1>
    {{post.titulo}}
</h1>
<h2>
    Created by
    {{post.creado_por}}
</h2>
    <h3 style="text-align: right;">
        Created at
        {{post.creado}}
    </h3>
    <h3 style="text-align: right;">
        Last update
        {{post.actualizado}}
    </h3>
    <h5 style="text-align: right;">
        Type of panel:
        {{post.tipo_post}}
    </h5>
    <div>
        <p>
            <img src="{{post.image.url}}" alt="">
        </p>
        <p>
            {{post.cuerpo}}
        </p>
        
    </div>
        
    
    <h4>
        Manufacturer
        {%for tag in post.tags.all%}
        <ul class="list-group">
            <li class="list-group-item active">{{tag}}</li>
            
        </ul>
        
        {%endfor%}
        
        
    </h4>
        
    {%if request.user.is_authenticated%}
    <h3 style="color: green">
        {{mensaje}}
    </h3>
    <table>
        <tr>
            <form action="" method="POST">
                {%csrf_token%}
                {{crear_comentario.as_table}}
        </tr>
    </table>
        <tr>
            <input type="submit" value="Comentar" class="btn btn-secondary">
        </tr>
    </form>
    
   {%endif%}
   
<h5>
    All comments:
    {%for i in comentarios%}
    <ul class="list-inline">
        <li class="list-group-item comentarios">
            <h4>
                {{i}}
            </h4>
            
            <div>
                Created by:
                <h5 style="color: rgb(255, 72, 0)">
                    {{i.creado_por}}
                </h5>
                
                at:
                <h5 style="color: orange">
                    {{i.creado}}
                </h5>
                
            </div>
        </li>
        
    </ul>
    
    {%endfor%}
    
    
</h5>
    


    {%endblock content%}